.root,
.body-content {
    background-color: rgb(44, 48, 49);
}

body {
    color: beige;
    background-color: rgb(44, 48, 49);
    text-decoration-color: beige;
}

.header {
    display: flexbox;
    background-color: rgb(103, 114, 117);
    border-radius: 10px;
}

.header img {
    margin: 0.5em;
}

.main-menu-navbar>li {
    display: flex;
    padding: 5%;
    text-decoration-color: azure;
}

.main-menu-navbar {
    list-style: none;
    display: flex;
    margin-right: 3em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}